{%extends "layout.html" %}
{%block content %}
	<h1>About</h1>
	<article class="media content-section">
		 <div class="media-body" >
		    <div class="article-metadata">
		      <a class="mr-2"><p>

A compassionate, people-loving, and caring person; Dr. Ramesh C Raina is fondly
known as “r c raina”.He was born in a small village called Chinigund on 18 th May 1964.
He grew up among Sufi saints and mystics in the valley of Kashmir India covered by
dense Himalayan mountains. The village would remain under heavy snow for five to
six months every year.<br><br>
He was groomed by his mother during the early childhood. She inculcated values and
ethics in a young child which remained his way of life. Brought up by his father a
humble and famous school teacher, Dr. Raina adhered to his father’s instructions
always. His father Late Mohan Lal Raina was a devotee of Lord Shiva and would
recite Vedic mantras extempore.<br><br>
His grandfather was a follower of the Vedic system and taught him, Bhagavad Gita,
when he was 9 years old. Many prominent saints and mystics would keep on visiting
their home in Kashmir India. Dr. Raina underwent yoga training from the teachers of
Rama Krishna Ashram Nagdandi at a young age. Later he came in touch with Swami
Swaroopanand Ji, Baba Sita Ram, Anand Swami Saraswati, Mahamandleshwar Bal
Krishan Yati of Gazipur Math Varanasi, and many more. He is an ardent follower of
Jagadguru Shankaracharya Swami Brahmananda Saraswati Ji Maharaj of Joshi Math
India. His master Professor Umesh Shrivastava Ji is a living sage who is living
happily in a family system.<br><br>Dr. Ramesh C Raina strived for truth always and he was born with inquisitiveness
and enquiring nature which made most of the people irritated and angry with him. 
His performance in early studies was average but he never stopped learning and
reading. He received a doctorate Ph.D. from the University of Mysore. Dr. Raina is an
ardent follower and believer of ancient Vedic Sciences and believes that this system is
the only system that could transform human beings and inculcate in them a sense of
humanity and values. <br><br>Dr. Raina worked with various Entertainment, News, and finally with Spiritual
Satellite Tv channels in India. He covered five Maha Kumbh Melas. He has
interviewed more than 200 prominent saints in his program “Dr. R.C. Raina’s
discovery of Spiritual India”. He has published more than 2000 news articles and
stories so far. He is the founder of CMH Global India’s first Spiritual OTT platform
and Digidantavarsity’s first-ever spiritual online knowledge Hub. 
Dr. Raina has transformed more than 25000 people so far. He has devised a unique
transformation and Elevation Technique known as “SIT-MIT”. This technique SIT-
MIT comprises many more analytic processes like LAAGEE, LACE, DAD analysis,
SRT, and PAAGE analysis.
<br><br>
He has dedicated last phase of his life for the welfare of human beings. He has founded
Digidantavarsity which will teach and trained people across the globe through digital
means. He is author of a Book “ Ignorance to Awareness” also and is writing books on
personal transformation subject.
<br><br>
</p></a>
		    </div>
		 </div>
	</article>

<script>
	let homeLink = document.getElementById("homeLink");
	homeLink.classList.remove("active");

	let activeLink = document.getElementById("aboutLink");
	activeLink.classList.add("active");
</script>
{% endblock content%}

