
<html>
<head>
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mol.css') }}">
</head>
<body>
	<header class="site-header">
	  <div class="nav-bar">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a href="#" class="navbar-brand">MENU</a>
				<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse justify-content-between collapse" id="navbarCollapse" >
					<div class="navbar-nav mr-auto">
						<a href="{{ url_for('mainnn') }}" class="nav-item nav-link active" id="homeLink">Home</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="aboutLink">About</a>
                                    <div class="dropdown-menu">
                                        <a href="{{ url_for('about') }}" class="dropdown-item">About</a>
                                        <a href="{{ url_for('mission') }}" class="dropdown-item">Mission</a>
                                        <a href="{{ url_for('Vision') }}" class="dropdown-item">Vision</a>
                                        <a href="{{ url_for('ElevatorsPitch') }}" class="dropdown-item">Elevator's Pitch </a>
                                        <a href="{{ url_for('problem') }}" class="dropdown-item">The problem I am Solving</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Gallery</a>
                                    <div class="dropdown-menu">
                                        <a href="{{ url_for('gallery') }}" class="dropdown-item">Photo</a>
                                        <a href="{{ url_for('gallery') }}" class="dropdown-item">Audio</a>
                                        <a href="{{ url_for('video') }}" class="dropdown-item">Video</a>
                                    </div>
                                </div>
                            
                               
                                <a href="{{ url_for('blog') }}" class="nav-item nav-link" id="blogLink">Blog</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Digidantavarsity</a>
                                    <div class="dropdown-menu">
                                        <a href="{{ url_for('about') }}" class="dropdown-item">Courses</a>
                                        <a href="{{ url_for('about') }}" class="dropdown-item">Books</a>
                                        <a href="{{ url_for('about') }}" class="dropdown-item">Resource Material</a>
                                    </div>
                                </div>
                                <a href="{{ url_for('contact') }}" class="nav-item nav-link" id="contactLink">Contact</a>
                            </div>
                            <div class="ml-auto">
                                <a class="btn" href="https://htmlcodex.com/law-firm-website-template">CMH Global</a>
                            </div>
							<div class="navbar-nav">
								{% if current_user.is_authenticated %}
								<a class="nav-item nav-link" href="{{ url_for('index') }}">image</a>
								<a class="nav-item nav-link" href="{{ url_for('uploadVideo') }}">video</a>
									<a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
								  <a class="nav-item nav-link" href="{{ url_for('new_post') }}">add new blog</a>
								  <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
								{% else %}             
								{% endif %}
							  </div>
				</div>
			</nav>
		</div>
	</div>
	</header>
	<main role="main" class="container">
	 	<div class="row">
		    <div class="col-md-8">
		    	{% with messages = get_flashed_messages(with_categories=true)%}
		    		{% if messages %}
		    			{% for catogory, message in messages  %}
		    				<div class="alert alert-success">
 				 				{{ message }}
							</div>
		    			{% endfor %}
		    		{% endif %}
		    	{% endwith %}
		      {% block content %}{% endblock %}
	    	
	    	</div>
	    	
	    </div>
	</main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>